{% extends 'portfolio/layout.html' %}

{% block content %}

    <div class="page-body">
        <div class="sidebar">

            <div class="top-tag">
                <div>
                <div class="nome">
                    C:\\Users\\LuisaFerreira>
                </div>
                20 YEARS/ESTUDANTE DE ENGENHARIA INFORMÁTICA
                </div>
            </div>

            <img src="{{info.foto.url}}">

            <div class="icons">
                <a href="https://github.com/Luisa-Ferreira" class="icon"><img src="static/portfolio/github.png"></a>
                <a href="https://www.linkedin.com/in/luísa-ferreiraa/" class="icon"><img src="static/portfolio/linkdin.png"></a>
            </div>

        </div>
        <div class="page-right">
            <div class="texto-direito">
                <h2>SOBRE MIM</h2>
                <p>Sou uma pessoa motivada e empenhada em aprender e crescer profissionalmente. Embora não tenha experiência de trabalho,
                    estou ansiosa para começar a minha carreira e contribuir de forma
                    positiva em qualquer empresa. Tenho um forte desejo de
                    aprender e estou aberta a novos projetos e atribuições já que
                    aquilo que eu gosto é de um bom novo desafio.</p>

                <div class="habilidades">
                    <h2>HABILIDADES INTERPESSOAIS</h2>
                        <li>
                            Demonstro habilidades efetivas de liderança quando a situação demanda
                        </li>
                        <li>
                            Boas habilidades para desenvolver tarefas em grupo
                        </li>
                        <li>
                            Solucionadora de problemas
                        </li>
                        <li>
                            Facilidade em adaptar-me ao meio
                        </li>
                </div>
                <div class="historico">
                    <h2>HISTÓRICO ESCOLAR</h2>

                    <h3>2023-2024 DEISI MENTORING</h3>
                    Ofereci apoio aos novos estudantes universitários tanto no seu desempenho acadêmico mas também na sua integração no ambiente universitário

                    <h3>2022-2024 COMPUTER SCIENCE</h3>
                    Universidade Lusófona de Humanidade e Tecnologias
                </div>
                <div class="techStack">
                    <h2>Programming Languages</h2>
                    <div class="tech-grid">
                        <div class="tech-item"><img src="static/portfolio/java.png" alt="Tech 1"></div>
                        <div class="tech-item"><img src="static/portfolio/python.png" alt="Tech 2"></div>
                        <div class="tech-item"><img src="static/portfolio/html.png" alt="Tech 3"></div>
                        <div class="tech-item"><img src="static/portfolio/css.png" alt="Tech 4"></div>
                        <div class="tech-item"><img src="static/portfolio/sql.png" alt="Tech 5"></div>
                        <div class="tech-item"><img src="static/portfolio/csharp.png" alt="Tech 6"></div>
                        <div class="tech-item"><img src="static/portfolio/c.png" alt="Tech 7"></div>
                    </div>
                </div>

                <h2>IDIOMAS</h2>
                    Português-> Lingua Materna<br>
                    Ingles-> B2

                <div class="hobbies">
                    <h2>HOBBIES</h2>
                    <img src="static/portfolio/hobbies.png">
                </div>

            </div>
       </div>
    </div>


{% endblock %}