<!DOCTYPE html>
<html lang="pt-br">

<body>

    <header>
        <h1>Programação Web</h1>
    </header>
    <head>
        <style>
            body {
            background: #dac8b3;
            color: white;
            }
        </style>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Programação Web</title>
        <nav>
            <a href="{% url 'pwsite:index' %}">Introducao</a>
        </nav>
    </head>
    <main>
      <h2>O que tenho gostado de aprender em PW</h2>
      <p> Tenho gostado de aprender a desenvolver de raíz páginas web e novas linguas de programaçao como python que é uma lingua muito procurada atualmente</p>

      <h2>Coisas que gostaria de aprender</h2>
      <p> Gostaria de aprender a fazer animações e modelaçoes para paginas web</p>

      <h2>Ideias de sites que possa vir a fazer</h2>
      <p>Talvez um jogo online competitivo</p>

    </main>

</body>
</html>